<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acones">
      <button class="botao-editar">
        <img src="assets/icone-editar.png" alt="Ícone de edição">
      </button>
      <button class="botao-excluir">
        <img src="assets/icone-excluir.png" alt="Ícone de excluir">
      </button>
  </div>
</div>

