
<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li><img src="assets/imagens/logo-com-tagline.png" alt=""></li>
                <li>Horário de atendimento: 08h - 20h (Segunda a Sábado)</li>
                <li>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</li>
            </ul>
            <ul class="sociais">
                <li>Acesse nossas redes:</li>
                lui
            </ul>
        </div>
    </app-container>
</footer>